/* Backgrouns */
.bg-blue {
  background: hsl(179, 62%, 43%);
  color: #fff;
}

.bg-light {
  background: hsl(180, 75%, 47%);
  color: #fff;
}

/* Flex cloumns */
.flex-columns .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex:1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns .column-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 60px;
  line-height: 0.3;
}


.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 40px;
}

.text-primary {
  font-size: 60px;
}

.text-primary2 {
  color: #f4f4f5d5;
  font-size: 25px;
  padding-left: 40px;
}

.btn {
text-decoration: none;
cursor: pointer;
background-color: hsl(71, 73%, 54%);
color: #fff;
border: none;
border-radius: 10px;
font-size: 25px;
font-weight: 700;
padding: 30px 315px;
}





